<!--**********************************
	Sidebar start
***********************************-->
<div class="deznav">
	<div class="deznav-scroll">
		<ul class="metismenu" id="menu">
			<li class="menu-title">MANTENIMIENTOS</li>

			<li>
				<a href="@Url.Action("Index", "Articulos")" class="" aria-expanded="false">
					<div class="menu-icon">
						<i class="fas fa-box"></i>
					</div>
					<span class="nav-text">Artículos</span>
				</a>
			</li>

			<li>
				<a href="@Url.Action("Index", "Departamentos")" class="" aria-expanded="false">
					<div class="menu-icon">
						<i class="fas fa-building"></i>
					</div>
					<span class="nav-text">Departamentos</span>
				</a>
			</li>

			<li>
				<a href="@Url.Action("Index", "Proveedores")" class="" aria-expanded="false">
					<div class="menu-icon">
						<i class="fas fa-truck"></i>
					</div>
					<span class="nav-text">Proveedores</span>
				</a>
			</li>

			<li>
				<a href="@Url.Action("Index", "UnidadesMedida")" class="" aria-expanded="false">
					<div class="menu-icon">
						<i class="fas fa-balance-scale"></i>
					</div>
					<span class="nav-text">Unidades de Medida</span>
				</a>
			</li>

			<li class="mm-active">
				<a href="@Url.Action("Index", "OrdenCompras")" class="" aria-expanded="true">
					<div class="menu-icon">
						<i class="fas fa-file-invoice-dollar"></i>
					</div>
					<span class="nav-text">Orden de Compras</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--**********************************
	Sidebar end
***********************************-->
