@model IEnumerable<ISO810_ComprasProject.Models.OrdenCompras>

@{
    ViewData["Title"] = "Index";
}

<h1>Orden de Compras</h1>

<p>
    <a asp-action="Create">Crear Orden</a>
</p>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo.CostoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.CostoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.UnidadMedida.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompraId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CompraId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CompraId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
